<html>
<h1>Hello world!</h1>
<% @issues.each do |issue| %>
  <p><%=issue.customer_name
        issue.issue_title
        issue.received_by
        issue.assigned_to
        issue.assigned_date%>
<%end%>
